[alias]
    co = checkout
    ci = commit
    st = status -sb
    cln = remote prune origin
    br = branch
    d = diff
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
    hist-graph = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
   
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat --abbrev-commit
[color]
    ui = true
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[push]
    default = simple
